Package: ch.leroyb.customstatusbar
Name: CustomStatusBar
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LeroyB <leroy.email.inbox@gmail.com>
Author: LeroyB <leroy.email.inbox@gmail.com>
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 76
